services:
  backend:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - /Users/grokhi/Music:/music:ro
      - ./telegram_session:/telegram_session
    restart: unless-stopped
